{%- macro render(val) %}
{%-   if val is boolean %}{{ val | lower }}
{%-   else %}{{ val }}
{%-   endif %}
{%- endmacro -%}

{%- for var, val in jellyfin.config.general | dictsort %}
{%-   if val is not none %}
JELLYFIN_{{ var | replace(":", "__") }}={{ render(val) }}
{%-   endif %}
{%- endfor %}
